
	body{
		background-color: #CCCCFF;
		text-align: center;
	}
	.center{
		text-align: center;
	}
		div#container {
			width: 100%	;
			font-family: Consolas, Verdana, serif;
		}
		div#header {
			font-size: 200%;
			font-family:Consolas, Verdana, serif;

		}

		div#intro{
			margin: auto;
			width: 50%;
			padding-left: 5%;
			padding-right: 5%;
			padding-top: 2%;
			padding-bottom: 2%;
			color: #666666;
			font-family: Microsoft YaHei, STXihei, serif;
		}
		div#intro a:link, div#intro a:visited, div#intro a:hover, div#intro a:active {
			text-decoration: none;
			color:#666666;
		}
		div#entrance{
			color: #666666;
			position: relative;
			font-family: Microsoft YaHei, STXihei, Verdana, serif;

		}
		.pic {
			width: 100%;
			height: 400px;
		}
		.pic img{
			position: absolute;
			width: 100%;
			height:100%;
			text-align: center;
			margin: auto;
			display: block;
/*			display: none;
*/		}


	#enter:link, #enter:visited{
		display: block;
		font-weight:bold;
		font-size:100%;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		color:#FFFFFF;
		background-color:#98bf21;
		text-align: center;
		margin: auto;
		padding:4px;
		width:140px;
		text-decoration:none;
	}
	#enter:hover, #enter:active {
		background-color:#7A991A;
	}




		div#footer {
			font-family:Consolas, Verdana, serif;
		}
		h1{
			color: #666666;
		}