---
layout: post-index
title: Category
comments: false
image:
  feature: 46599808_p0.png
  credit: Fate セイバー | nissa [pixiv] 
  creditlink: http://www.pixiv.net/member_illust.php?mode=medium&illust_id=46599808
---



{% for post in site.categories[page.category] %}
<article>
  <span class="entry-date date published updated"><time datetime="{{ post.date | date_to_xmlschema }}"><a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a></time></span><span class="author vcard"><span class="fn"><a href="{{ site.url }}/about/" title="About {{ site.owner.name }}">{{ site.owner.name }}</a></span></span>
  <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>

  <p>{{ post.excerpt }}</p>
  <a href="{{ site.url }}{{ post.url }}">Read More</a>
  <br />
</article>
{% endfor %}

