<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>


    {% include header.html %}
    <div class="category-list">
      <h4>Category</h4>
      <ul>
	{% for category in site.categories %}
	<li><a href="/categories/{{ category | first }}/" title="view all posts">
	    {{ category | first }} 
	    <span class="category-count">({{ category | last | size }})</span></a>
	</li>
	{% endfor %}
      </ul>
    </div> 


    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>



    {% include footer.html %}

  </body>

</html>
